<matisses-header></matisses-header>
<!-- Sticky-body es la etiqueta para el contenido cuando el menu esta fixed -->
<div sticky-body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/novedades/banner.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-xs-12">
            <h3>Comedores</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <img src="../../../assets/images/novedades/miniatura_1.jpg" class="jpg-responsive" alt="">
          </div>
          <div class="col-xs-4">
            <p><b>MESA DE COMEDOR CONCRETE</b><br />GRIS CLARA 140 x 140</p>
            <p>MATERIALES:<br>top ecomalta 137 y vidrio extra claro.</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4">
            <p><b>MESA DE COMEDOR TABIA BIG</b><br />Color disponible: VIDRIO CLARO</p>
            <p>MATERIALES:<br>Estructura en vidrio extra claro y base de abeto hecho en viejas vigas de granja.</p>
          </div>
          <div class="col-xs-8">
            <img src="../../../assets/images/novedades/miniatura_2.jpg" class="jpg-responsive" alt="">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-8">
            <img src="../../../assets/images/novedades/miniatura_3.jpg" class="jpg-responsive" alt="">
          </div>
          <div class="col-xs-4">
            <p><b>MESA DE COMEDOR PRISMA 2</b><br />BRONCE 100 x 40</p>
            <p>MATERIALES:<br>Estructura y patas en metal, top en ceramica.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Sillas de comedor</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <img src="../../../assets/images/novedades/miniatura_4.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>SILLA DE COMEDOR CHICCO</b><br />Color disponible: PLATEADO</p>
            <p>MATERIALES:<br>Superficie, asiento y espaldar en tela fabricados en espuma de alta densidad, patas en metal.</p>
          </div>
          <div class="col-xs-8">
            <img src="../../../assets/images/novedades/miniatura_5.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>SILLA DE COMEDOR MEGGY</b><br />Color disponible: GRIS</p>
            <p>MATERIALES:<br>Superficie, asiento y espaldar en piel fabricados en espuma de alta densidad, patas en metal.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <img src="../../../assets/images/novedades/miniatura_6.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>SILLAS DE COMEDOR CORA</b><br />Color disponible: CAFÉ</p>
            <p>MATERIALES:<br>Superficie, asiento y espaldar en tela fabricados en espuma de alta densidad, patas en metal.</p>
          </div>
          <div class="col-xs-4">
            <img src="../../../assets/images/novedades/miniatura_7.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>SILLAS DE COMEDOR MICHELLE</b><br />Color disponible: GRIS</p>
            <p>MATERIALES:<br>Superficie, asiento y espaldar en tela fabricados en espuma de alta densidad, patas en metal.</p>
          </div>
          <div class="col-xs-4">
            <img src="../../../assets/images/novedades/miniatura_8.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>SILLAS DE COMEDOR VITTORIA</b><br />Color disponible: BEIGE</p>
            <p>MATERIALES:<br>Superficie, asiento y espaldar en piel color beige fabricados en espuma de alta densidad, patas en metal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <new-products></new-products> -->
<newsletter></newsletter>
<matisses-footer></matisses-footer>