<br>
<!-- principal -->
<div class="container padding-0">
  <div class="row">
    <div class="col-xs-12">
      <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ discount: 'true', group: '003' }">
        <div class="tendencia-01">
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<br/>

<div class="container">
  <div class="row">
    <!-- segundo -->
    <div class="col-sm-6 col-xs-12">
      <a href="javascript:void(0)" [routerLink]="['/sin-intereses']">
        <div class="sub-banner">
          <img src="../../../../assets/images/secciones/fija/miniatura2.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </div>
    <!-- tercero -->
    <div class="col-sm-6 col-xs-12">
      <a href="javascript:void(0)" [routerLink]="['/lista-de-regalos']">
        <div class="sub-banner">
          <img src="../../../../assets/images/secciones/fija/miniatura3.jpg" class="img-responsive" alt="">
        </div>
      </a>
    </div>
  </div>
</div>