.whatsapp {
  position: fixed;
  bottom: 24px;
  background-color: #5B5B5B;
  text-align: center;
  color: #FFF;
  cursor: pointer;
  height: 60px;
  padding: 17px 12px;
}

.whatsapp {
  right: 70pt;
  z-index: 5;
  width: 60px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #075e54;
}

.whatsapp:hover {
  background-color: #25d366;
}

@media screen and (max-width: 426px) {
  .whatsapp {
    right: 18pt;
    bottom: 70pt;
  }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 320px) {}
