<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ group: '009', pageSize: '10000' }">
                <img src="../../../../assets/images/secciones/1/miniatura1.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/producto/2120044']">
                <img src="../../../../assets/images/secciones/1/miniatura2.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/producto/2440020']">
                <img src="../../../../assets/images/secciones/1/miniatura3.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <a href="javascript:void(0)" [routerLink]="['/producto/2120007']">
        <img src="../../../../assets/images/secciones/1/miniatura4.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
    <div class="col-sm-4">
      <a href="javascript:void(0)" [routerLink]="['/producto/2440041']">
        <img src="../../../../assets/images/secciones/1/miniatura5.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
  </div>
</div>