<matisses-header></matisses-header>

<div sticky-body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-xs">
        <img src="../../../assets/images/banner/banner-sale.jpg" class="jpg-responsive" alt="">
      </div>
      <div class="col-xs-12 visible-xs banner-mobile">
        <img src="../../../assets/images/banner/banner-sale-mobile.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 col-xs-12">
        <img src="../../../assets/images/hot-sale/sale-mailing_08.jpg" class="jpg-responsive" alt="">
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 col-xs-12">
        <img src="../../../assets/images/hot-sale/sale-mailing_09.jpg" class="jpg-responsive" alt="">
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 col-xs-12">
        <img src="../../../assets/images/hot-sale/sale-mailing_10.jpg" class="jpg-responsive" alt="">
        <h3 class="text-center m-0 b-t-b"><b>ENCUENTRA ESTO Y MUCHO MÁS ESTE 29 Y 30 DE SEPTIEMBRE</b></h3>
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 col-xs-12">
        <img src="../../../assets/images/hot-sale/sale-mailing_11.jpg" class="jpg-responsive" alt="">
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 col-xs-12">
        <img src="../../../assets/images/hot-sale/sale-mailing_12.jpg" class="jpg-responsive" alt="">
      </div>
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-0 col-xs-12">
        <img src="../../../assets/images/hot-sale/sale-mailing_13.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4 class="terminos-title">Terminos y condiciones</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-justify">Los descuentos solo aplican para los artículos de la línea complementos y otros
          seleccionados el sábado 29 de Septiembre de 2018 desde las 00:00 a.m. hasta el domingo a las 11:59 pm en
          www.matisses .co y en tienda física desde las 10:00 am hasta las 7:00 pm del día sábado y domingo desde las
          11:00 am hasta las 7:00 pm y/o hasta agotar existencias, lo que suceda primero. Los porcentajes o valores de
          descuento promocionales aplican sobre el precio normal o precio vigente, según esté en el enunciado. El
          precio normal es el precio de venta al público sin descuento, que se toma como referencia para la
          codificación y venta, en condiciones no promocionales. Los descuentos ofrecidos no son acumulables con otras
          promociones tales como cupones de descuento, Stickers, entre otras; ni son reembolsables en dinero, ni como
          abono a las tarjetas de regalo de los que sea titular el cliente. Los artículos con descuento no cuentan con cambios ni devoluciones.</p>
      </div>
    </div>
  </div>
</div>
<newsletter></newsletter>
<matisses-footer></matisses-footer>