<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center title">Un match perfecto para tu sala</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/producto/2130079']">
                <img src="../../../../assets/images/secciones/3/miniatura1.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/producto/2130077']">
                <img src="../../../../assets/images/secciones/3/miniatura2.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/producto/2640041']">
                <img src="../../../../assets/images/secciones/3/miniatura3.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <a href="javascript:void(0)" [routerLink]="['/producto/1051856']">
        <img src="../../../../assets/images/secciones/3/miniatura4.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
    <div class="col-xs-4">
      <a href="javascript:void(0)" [routerLink]="['/producto/2440093']">
        <img src="../../../../assets/images/secciones/3/miniatura5.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
  </div>
</div>