<matisses-header></matisses-header>
<!-- Sticky-body es la etiqueta para el contenido cuando el menu esta fixed -->
<div sticky-body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../../../assets/images/new-arrivals/banner.jpg" class="jpg-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-xs-12">
            <h3>Comedores</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <img src="../../../assets/images/new-arrivals/imagen_1.jpg" class="jpg-responsive" alt="">
          </div>
          <div class="col-xs-4">
            <p><b>MESA DE COMEDOR AVALON</b><br />GRIS CLARA 240 X 120</p>
            <p>MATERIALES:<br>Estructura y patas en madera sólida con acabado lacado</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-4">
            <p><b>MESA DE COMEDOR REDONDA BRIGITTE</b><br />Color disponible: BRONCE</p>
            <p>MATERIALES:<br>Estructura en metal con top en madera.</p>
          </div>
          <div class="col-xs-8">
            <img src="../../../assets/images/new-arrivals/imagen_2.jpg" class="jpg-responsive" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Sillas de comedor</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <img src="../../../assets/images/new-arrivals/imagen_3.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>SILLA DE COMEDOR SKINNY</b><br />Color disponible: PLATEADO</p>
            <p>MATERIALES:<br>superficie en eco-piel, asiento y espaldar rellenos en espuma de alta densidad, patas de
              madera.</p>
          </div>
          <div class="col-xs-8">
            <img src="../../../assets/images/new-arrivals/imagen_4.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>SILLA DE COMEDOR BETTY</b><br />Color disponible: PLATEADO</p>
            <p>MATERIALES:<br>superficie en eco-piel, asiento y espaldar rellenos en espuma de alta densidad, patas de
              madera.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Mesas auxiliares y de centro</h3>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-8">
            <img src="../../../assets/images/new-arrivals/imagen_7.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>MESA DE CENTRO BLOOM</b><br />Color disponible: MADERA</p>
            <p>MATERIALES:<br>Estructura y patas en madera, parte superior en vidrio.</p>
          </div>
          <div class="col-xs-4">
            <img src="../../../assets/images/new-arrivals/imagen_6.jpg" class="jpg-responsive" alt="">
            <br><br>
            <p><b>MESA DE AUXILIAR BLOOM</b><br />Color disponible: MADERA</p>
            <p>MATERIALES:<br>Estructura y patas en madera, parte superior en vidrio.</p>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
              <img src="../../../assets/images/new-arrivals/imagen_9.jpg" class="jpg-responsive" alt="">
              <br><br>
              <p><b>MESA AUXILIAR JOY</b><br />Color disponible: MADERA</p>
              <p>MATERIALES:<br>Estructura y patas en metal color gris, top en madera natural.</p>
            </div>
            <div class="col-xs-8">
              <img src="../../../assets/images/new-arrivals/imagen_8.jpg" class="jpg-responsive" alt="">
              <br><br>
              <p><b>MESA DE CENTRO FLEXO</b><br/>Color disponible: BEIGE</p>
              <p>MATERIALES:<br>Top en madera natural y estructura en metal.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3>Buffet</h3>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-8">
              <img src="../../../assets/images/new-arrivals/imagen_11.jpg" class="jpg-responsive" alt="">
              <br><br>
              <p><b>BUFFET METROPOLIS A2</b><br />Color disponible: BRONCE</p>
              <p>MATERIALES:<br>Estructura en madera sólida y puertas en vidrio</p>
            </div>
            <div class="col-xs-4">
              <img src="../../../assets/images/new-arrivals/imagen_10.jpg" class="jpg-responsive" alt="">
              <br><br>
              <p><b>BUFFET METROPOLIS C01</b><br />Color disponible: GRIS CLARO</p>
              <p>MATERIALES:<br>Estructura en madera sólida y paneles en vidrio</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- <new-products></new-products> -->
<newsletter></newsletter>
<matisses-footer></matisses-footer>