<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ pageSize: '10000', keywords: '2630033,2640014,2640005,2090049,2090112,2090120,2130066,2130085,2440088,2630040,2630037,2130077,2210053,2630021,2630029,2630032,2630007,2640006,2640008' }">
                <img src="../../../../assets/images/secciones/2/miniatura1.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
            <div class="col-xs-8">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/producto/2090127']">
                <img src="../../../../assets/images/secciones/2/miniatura2.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <br>
      <a href="javascript:void(0)" [routerLink]="['/producto/2640005']">
        <img src="../../../../assets/images/secciones/2/miniatura3.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
    <div class="col-xs-4">
      <br>
      <a href="javascript:void(0)" [routerLink]="['/producto/2640008']">
        <img src="../../../../assets/images/secciones/2/miniatura4.jpg" class="jpg-responsive" alt="">
      </a>
    </div>
  </div>
</div>