<br>
<div class="container-fluid padding-0">
  <div class="back-01">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/categoria']" [queryParams]="{ pageSize: '10000', group: '002', subgroup: '002' }">
                <img src="../../../../assets/images/secciones/2/miniatura1.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/producto/2210060']">
                <img src="../../../../assets/images/secciones/2/miniatura2.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
            <div class="col-sm-4">
              <br>
              <a href="javascript:void(0)" [routerLink]="['/producto/2210041']">
                <img src="../../../../assets/images/secciones/2/miniatura3.jpg" class="jpg-responsive" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>