<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="title-blog">TENDENCIAS PARA TU ESPACIO DE COMEDOR.</h2>
                <p class="text-justify">Al buscar un comedor varios factores entran en juego, el tamaño, los materiales, el estilo y hasta el color,
                    son solo algunas de las cosas que consideramos en el momento de adquirir una nueva mesa.
                    <br>
                    <br>En este espacio de nuestro hogar pasamos momentos importantes, compartimos con amigos y familia, por
                    lo que no está de más mantener nuestro comedor a la vanguardia de la tendencia, por eso te vamos a contar
                    algunas de las tendencias más latentes para este segundo periodo del 2018.
                    <br>
                    <br>La madera sigue siendo ese material protagonista para nuestras mesas de comedor, las betas de la madera
                    crean un estilo interesante, el roble es una buena elección ya que crea un estilo rústico, además de
                    ser un material con buena resistencia, entrelazando el diseño y la funcionalidad como las características
                    más valoradas. La fusión entre madera y cristal es una tendencia muy latente, ya que la unión entre materiales
                    le da ese toque de modernidad a nuestra mesa, para que sea esta la protagonista de nuestro espacio.
                    <br>
                    <br>Ikon es una mesa de comedor que cumple perfecto con esta tendencia, gracias a su estructura en vidrio,
                    y su macizo top en madera de roble se convierte en un diseño único. Cristal y madera, combinación ganadora.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <a href="javascript:void(0)" [routerLink]="['/producto/2630007']">
                    <img src="../../../../assets/images/blog/ikon.jpg" class="jpg-responsive" alt="">
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-justify">Otra opción en esta temporada, son mesas contundentes con líneas definidas y marcadas, este tipo de diseño
                    se representa en el diseño italiano, las cuales poseen formas simples que desatan elegancia, además de
                    ser de esos diseños atemporales que serán ideales para nuestros espacios.
                    <br>
                    <br>En este caso Flag es la mesa ideal, ya que posee líneas simples, top en vidrio, patas de madera y estructura
                    en acero, creando un estilo vanguardista que muestra sofisticación.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <a href="javascript:void(0)" [routerLink]="['/producto/2630007']">
                    <!-- [routerLink]="['/categoria']" [queryParams]="{ pageSize: '10000', group: '024', collection: 'Butterfly Parade' }" -->
                    <img src="../../../../assets/images/blog/comedores.jpg" class="jpg-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</div>