<matisses-header></matisses-header>

<div sticky-body>
  <div class="container-fluid padding-0">
    <div class="row">
      <div class="col-xs-12">
        <a href="javascript:void(0)" [routerLink]="['/categoria']"
          [queryParams]="{ keywords: 'vintage', brand: '0001' }">
          <div class="principal-01">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="contenedor">
            <div class="row">
              <div class="col-md-12">
                <div class="box">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="../../../assets/images/banner/slide-3/banner-02.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-md-6">
                      <p class="text-promo text-justify">
                        <b>Términos y condiciones</b>
                      </p>
                      <ul>
                        <li>Actividad válida hasta el 25 de marzo.</li>
                        <li> No acumulable con otras promociones.</li>
                        <li>Los artículos mencionados en este evento no aplican para compras sin intereses
                          (MercadoLibre).</li>
                        <li>Los artículos comprados en este evento no aplican para cambios ni devoluciones.</li>
                        <li>Los tiempos y costos de entrega permanecen iguales según la política de envíos.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="item-img">
                <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
                  <a href="javascript:void(0)" [routerLink]="['/producto/2640256']">
                    <img src="../../../assets/images/banner/mesas-promo/1.jpg" class="img-responsive" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
                  <a href="javascript:void(0)" [routerLink]="['/producto/2640251']">
                    <img src="../../../assets/images/banner/mesas-promo/2.jpg" class="img-responsive" alt="">
                  </a>
                </div>
                <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
                  <a href="javascript:void(0)" [routerLink]="['/producto/2640254']">
                    <img src="../../../assets/images/banner/mesas-promo/3.jpg" class="img-responsive" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <recommended></recommended>
</div>
<newsletter></newsletter>
<matisses-footer></matisses-footer>